header nav ul li{
    color:rgb(18, 2, 63);
    text-align: center;
    display: inline;
    margin-inline-start: 10px;
    padding: 6%;
    margin-bottom: 10%;
    
    
}

main{
    margin-top: 10%;
    text-align: center;
}


main img{
    margin-top: 10px;
    
}
  



h1{
    font: bold;
    color: rgb(17, 1, 1);
    margin-bottom: 3%;
    border-width: 3px;
    border-style: groove;
    border-color: rgb(255, 217, 0);
    
}

#par1{
    font-style: oblique;
    color: rgb(17, 1, 1);
    margin-bottom: 3%;
    
}
#par2{
    font-style: oblique;
    color: rgb(17, 1, 1);
    margin-bottom: 3%;
}

#par3{
    font-style: oblique;
    color:rgb(17, 1, 1);
    margin-bottom: 3%;
}
.division{
    position: relative;
}

.lists{
    font: bold;
    color:black;
    text-align: center;
    margin-bottom: 4px;
    background-color: gold;
    width: 30%;
    background-position: center;
    position: absolute;
    right: 36%;
    bottom: 10px;
    margin-top: 10px;
    
}
.lists#cars{
    bottom: 100%;
}


.Items{
    color: rgb(17, 1, 1);
    text-align: center;
    margin-bottom: 3%;
}

.footer{
    text-align: center;
    font-style: inherit;
    color:black;
    background-color: gold;
}